/* GA SEI 32 Project 1: Game (Moksha Patamu) */
/* ZY, 10 Sept 2021 */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* check out root for css */
body {
    background-color: rgb(183, 228, 165);
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.container {
    margin: auto;
    text-align: center;
}
/* body .dark{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Inter', sans-serif;
} */
.imgoverlay {
    width: 28.4em;
    height: 28.4em;
    background-image: url('Images/images/Board_image.png');
    z-index:10;
    position: absolute;
}
.board {
    
    width: 28.4em;
    height: 28.4em;
    /* looks nice on PC but not on mobile devices */
    /* margin-left: 20.5em; */
}

h2 {
color: black(183, 209, 66);
font-size: 20px;
font-family: 'Inter', sans-serif;
/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
background-color: white;
text-align: center;
}

.rules {
background-color: lightyellow;
font-family: 'Inter', sans-serif;
}

table {
    font-family: 'Inter', sans-serif;
    text-align: center;
    table-layout: fixed;
    width: fit-content;
    z-index:-100;
}

td {
    background-color:white;
    text-align: left;
}

.square {
    width: 45px;
    height: 45px;
    /* inline block sets them horinzontally. flex vertical */
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* text color */
    color: black;
    text-shadow: 5px 5px 5px rgb(168, 165, 165);
    border: 1px solid rgb(73, 66, 66);
    
}

.square .dark {
    /* text color */
    color: white;
    text-shadow: 5px 5px 5px rgb(168, 165, 165);
    border: 1px solid white;
    
}


.circle1 {
        background: rgb(245, 110, 234);
        text-shadow: 5px 5px 5px rgb(168, 165, 165);
        border-radius: 50%;
        z-index: 100;
        width: 21px;
        height: 21px;    
        text-align: center;
}

.circle2 {
    background: cyan;
    text-shadow: 5px 5px 5px rgb(168, 165, 165);
    border-radius: 50%;    
    z-index: 100;
    width: 21px;
    height: 21px;
    text-align: center;
}